# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# Data and Vector Storage (Crucial for RAG projects)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
vector_store/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db